antlr4-python3-runtime==4.7.2
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2018.11.29
cffi==1.14.1
chardet==3.0.4
colour==0.1.5
cssselect2==0.3.0
defusedxml==0.6.0
drawSvg==1.6.0
et-xmlfile==1.0.1
idna==2.8
imageio==2.9.0
jdcal==1.4.1
numpy==1.19.1
openpyxl==3.0.3
pandas==1.1.1
Pillow==7.2.0
pycparser==2.20
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
simplejson==3.16.0
six==1.15.0
stix2==2.0.2
stix2-patterns==1.1.0
tabulate==0.8.3
taxii2-client==2.2.1
tinycss2==1.0.2
tqdm==4.31.1
urllib3==1.24.2
webencodings==0.5.1
